/* Schedule */

/* Other styles from head on runner-space */
.video_wrapper {
  padding: 0 0 56.25% 0 !important;
  height: 0 !important;
}

#wrapper_menu,
#wrapper_menu.mobile {
  display: block !important;
}

#wrapper_menu.mobile:before,
#wrapper_menu.mobile .menu-section,
#wrapper_select_mobile_section select.select_MF {
  color: white;
}

.video_wrapper > div {
  position: absolute !important;
}

#wrapper_menu.mobile #menu a.selected {
  background: #000000;
  color: #d7df22;
}
