@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Work+Sans:wght@400;500;700;800;900&display=swap");

/* 
 *
 * These are replicated 
 *
 */

/* these are the custom image boxes */
#cta div::after,
#cta div::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * 
 * Still working on fixing
 *
 **/

/* CTA */

#cta {
  flex-wrap: wrap;
  display: flex;
}
#cta div {
  flex: 0 0 100%;
  margin-bottom: 0.5rem;
  margin-bottom: 1.25rem;
  position: relative;
}
#cta div a {
  position: relative;
  z-index: 1;
}
#cta div a img {
  opacity: 0;
}
@media (max-width: 480px) {
  #cta div a span.title {
    color: white;
    font-family: "inconsolata", monospace;
    font-size: 1.5em;
    letter-spacing: 1.5px;
  }
}
#cta div a span.title {
  background-color: black;
  color: #d7df22;
  line-height: 2;
  transition: 0.3s ease-in-out;
}
#cta div a span.title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "inconsolata", monospace;
  letter-spacing: 1.5px;
  background: black;
  background: inherit;
  color: inherit;
}
#cta div a:hover {
  box-shadow: none;
}
#cta div a:hover span {
  background-color: #d7df22;
  color: black;
}
#cta div::after {
  background: #121212;
  /* Old Browsers */
  background: -webkit-linear-gradient(bottom, #121212, #d7df22);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, #121212, #d7df22);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, #121212, #d7df22);
  /*Fx 3.6-15*/
  background: linear-gradient(to top, #121212, #d7df22);
  /*Standard*/
  opacity: 1;
  mix-blend-mode: overlay;
}
#cta div::before {
  content: "";
  background-image: url(http://unsplash.it/g/360/280/?random);
  background-size: cover;
  background-repeat: no-repeat;
}
#cta div:nth-child(1)::before {
  /* background-image: url(./assets/TR18_WebSquares-1.jpg); */
}
#cta div:nth-child(1) a span::after {
  content: "Info";
}
#cta div:nth-child(2)::before {
  /* background-image: url(./assets/TR18_WebSquares-2.jpg); */
}
#cta div:nth-child(2) a span::after {
  content: "Results";
}
#cta div:nth-child(3)::before {
  /* background-image: url(./assets/TR18_WebSquares-3.jpg); */
}
#cta div:nth-child(3) a span::after {
  content: "Live Stream";
}
@media (min-width: 480px) {
  #cta div {
    flex-basis: calc(33.33333% - 0.25rem);
  }
}
